<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>You are not allowed to access this page</h2>
        <p>Sorry! you can't reach this page you are not allowed</p>
        <hr />
        <p>Thank you!</p>
        <a class="btn btn-outline-primary float-right" asp-controller="Movies" asp-action="Index">Return to movies page</a>
    </div>
</div>