@model Actor

@{
    ViewData["title"] = "Edit Actor";
}

<h1>Edit an actor</h1>

<div class="row text">
    <div class="col-md-8 offset-2">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group text-center">
                <img id="profilePicturePreview" />

            </div>
            <div class="form-group">
                <label asp-for="profilePictureURL" class="control-label"></label>
                <input asp-for="profilePictureURL" class="form-control" />
                <span asp-validation-for="profilePictureURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>

            </div>
        </form>


    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            var output = document.getElementById('profilePicturePreview');
            output.src = $("#profilePictureURL").val();
        })
        $("#profilePictureURL").on("change", function () {
            var output = document.getElementById('profilePicturePreview');
            output.src = $(this).val();
        })
    </script>
        }
