@model int;

@if (User.Identity.IsAuthenticated)
{
    @if(Model >0){
    <li style="list-style-type:none;">
        <a class="nav-link text-dark" asp-controller="Orders" asp-action="Index">
                <i class="bi bi-bag"></i> @Model
        </a>
    </li>
    }
}
